@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Магазин автомобилей</title>
        <link rel="stylesheet" type="text/css" href="~/css/Home.css" media="screen"/>
    </head>
    <body>
        <div id="wrap">
            <header>
                <ul>
                    <li><a href="/Home/Index">ГЛАВНАЯ</a></li>
                    <li><a href="/Home/Cars">АВТОМОБИЛИ</a></li>
                    <li><a href="/Home/SportCars">СПОРТИВНЫЕ</a></li>
                </ul>
            </header>

            <main>  
            </main>

            <footer></footer>
        </div>
    </body>
</html>