@{
    ViewData["Title"] = "Sport cars";
}

<div>
    <h1>Спортивные автомобили</h1>
    <table>
        <tr>
            <th><p>Название автомобиля</p></th>
            <th><p>Модель</p></th>
            <th><p>Цена</p></th>
        </tr>
        @foreach (var b in ViewBag.cars)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Model</p></td>
                <td><p>@b.Price</p></td>
            </tr>
        }
    </table>
</div>