h1 {
    margin: 0;
}

main, header, footer {
    width: 100%;
    box-sizing: border-box;
}

header, footer {
    background-color: #2F353B;
    height: 100px;
}

main {
    display:flex;
    background-color: #D5D5D5;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 600px;
    border: solid 1px black;
}

#sidebar {
    padding-top: 65px;
    width: 30%;
    box-sizing: border-box;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

#wrap {
    width: 100%;
}